<div class="character-card">
  <div class="character-info">
    <img [src]="character.image" [alt]="character.name">
    <h2><strong>{{ character.name }}</strong></h2>

    <table class="character-table">
      <tbody>
        <tr>
          <td><strong>Estado:</strong></td>
          <td>{{ character.status }}</td>
        </tr>
        <tr>
          <td><strong>Especie:</strong></td>
          <td>{{ character.species }}</td>
        </tr>
        <tr>
          <td><strong>Género:</strong></td>
          <td>{{ character.gender }}</td>
        </tr>
        <tr>
          <td><strong>Origen:</strong></td>
          <td>{{ character.origin.name }}</td>
        </tr>
        <tr>
          <td><strong>Ubicación:</strong></td>
          <td>{{ character.location.name }}</td>
        </tr>
        <tr>
          <td><strong>Episodios:</strong></td>
          <td>{{ character.episode.length }}</td>
        </tr>
        <tr>
          <td><strong>URL:</strong></td>
          <td><a [href]="character.url" target="_blank">{{ character.url }}</a></td>
        </tr>
        <tr>
          <td><strong>Creado:</strong></td>
          <td>{{ character.created | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="custom-button" (click)="goBack()">Regresar</button>
  </div>
</div>
