<h1>Rick y Morty</h1>

<form>
  <div>
    <div>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        placeholder="Nombre"
        (input)="search(name, selectedGender)"
      >
    </div>

    <div>
      <select id="gender"
      [(ngModel)]="selectedGender"
      name="gender"
      (change)="search(name, selectedGender)">
        <option value="">All</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>


</form>




<div *ngIf="characters.length > 0">
  <div class="character-list">
    <div *ngFor="let character of characters" class="character-list-card">
      <img src="{{ character.image }}" alt="{{ character.name }}">
      <div>
        <h3><strong>{{ character.name }}</strong></h3>
        <p>Status: {{ character.status }}</p>
        <p>Species: {{ character.species }}</p>
        <p>Gender: {{ character.gender }}</p>
        <!-- Agrega aquí más información si es necesario -->
        <a [routerLink]="['/character', character.id]">Detalles</a>
      </div>
    </div>
  </div>

</div>

<div *ngIf="characters.length === 0 && name.trim() !== ''"> No se encontraron resultados</div>
